{% extends "layout.html" %}
{% block content %}
	<section class="home d-print-none sheet padding-10mm" id="home"></section>

	<!--ABOUT-->
	<section class="about line-bg pt-6" id="about">
		<div class="container">
			<div
				class="row">
				<!-- Profile Image -->
				<div class="col-md-4 profile d-print-flex">
					<img src="{{ base_path() }}/assets/img/eru22b.png" class="img-fluid" alt="">
				</div>
				<!-- About Information -->
				<div class="col-md-8 about-info">
					<div class="left-title">
						<h1>Sobre mí</h1>
						<h2></h2>
					</div>
					<p class="text-justify">
						Computer systems engineer, responsible, creative, with initiative, I assume responsibly the challenges and goals that the organization sets me, adaptability to change, facility to work in a team, under high pressure conditions, as well as to solve problems efficiently and achieve the productivity goals set by the company and my work group.
					</p>
					<ul class="col-md-12 giggs-list">
						<li>
							<span>Blog:
							</span>
							<span>
								<a href="{{web}}" target="_blank">{{web}}</a>
							</span>
						</li>
						<li>
							<span>email:
							</span>
							<span>
								<a href="mailto:{{mail}}">{{ mail }}</a>
							</span>
						</li>
						<!--<li><span>Dirección : </span><span>Lázaro Cárdenas No. 102, San Pedro Tultepec, Lerma, Edo de México</span></li>-->
					</ul>
					<!--<a href="javascript:document.body.contentEditable='true';document.designMode='on';void 0" class="giggs_button top_15">Descargar CV</a>-->
				</div>
			</div>
		</div>
	</section>

	<!--FEATURES & SKILLS-->
	<section class="my_features line-bg" id="skills">

		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="left-title clearfix">
						<h1>Skills</h1>
					</div>
				</div>
				<div class="feature col-md-6 col-sm-6 col-xs-12">
					<div>
						<div class="feat-icon">
							<i class="fal fa-laptop-code fa-2x"></i>
						</div>
						<div class="feat-text">
							<span class="text-uppercase">Web development</span>
							<p class="text-justify">
								Microsite Development, Registration Systems, Web Applications or any web solution that suits your needs. Employing the latest technologies with HTML, CSS, PHP Frameworks, and Javascript
							</p>
							<p class="text-justify mt-2">
								Improvement of the user experience and the loading speed of a website through optimization techniques.
							</p>
							<p class="text-justify mt-2">
								Management and maintenance of databases and content management systems.
							</p>
							<p class="text-justify mt-2">
								Regular website maintenance and updating to keep it secure and up-to-date.
							</p>
						</div>
					</div>
				</div>
				<div class="feature col-md-6 col-sm-6 col-xs-12">
					<div>
						<div class="feat-icon">
							<i class="fab fa-linux fa-2x"></i>
						</div>
						<div class="feat-text">
							<span>Linux systems</span>
							<p class="text-justify mt-2">
								Experience in the installation and configuration of Linux distributions.
							</p>
							<p class="text-justify mt-2">
								Knowledge of the command line and ability to use it to perform common tasks such as navigating the file system, editing files, and running programs.
							</p>
							<p class="text-justify mt-2">
								Experience in the administration and maintenance of Linux-based servers, including the configuration of services such as Apache, MySQL and PHP.
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- Skills -->
			<div class="skills col-md-12 top_60 row">
				<ul class="skill-list col-md-6 top30">
					<li>
						<h3>Web development</h3>
						<div class="progress">
							<div class="percentage" style="width:90%;"></div>
						</div>
					</li>
					<li>
						<h3>Web design</h3>
						<div class="progress">
							<div class="percentage" style="width:50%;"></div>
						</div>
					</li>
					<li>
						<h3>PHP Framework Symfony</h3>
						<div class="progress">
							<div class="percentage" style="width:90%;"></div>
						</div>
					</li>
					<li>
						<h3>PHP Framework Slim</h3>
						<div class="progress">
							<div class="percentage" style="width:90%;"></div>
						</div>
					</li>
					<li>
						<h3>Angular</h3>
						<div class="progress">
							<div class="percentage" style="width:50%;"></div>
						</div>
					</li>
				</ul>
				<ul class="skill-list col-md-6 top30">
					<li>
						<h3>React</h3>
						<div class="progress">
							<div class="percentage" style="width:30%;"></div>
						</div>
					</li>
					<li>
						<h3>VUE</h3>
						<div class="progress">
							<div class="percentage" style="width:50%;"></div>
						</div>
					</li>
					<li>
						<h3>Flutter</h3>
						<div class="progress">
							<div class="percentage" style="width:60%;"></div>
						</div>
					</li>
					<li>
						<h3>Database Administration</h3>
						<div class="progress">
							<div class="percentage" style="width:80%;"></div>
						</div>
					</li>
					<li>
						<h3>Server Management</h3>
						<div class="progress">
							<div class="percentage" style="width:90%;"></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<!-- RESUME -->
	<section class="resume dotted-bg" id="resume">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="left-title clearfix">
						<h1>Education & Experience</h1>
					</div>
				</div>
				<!-- resume content -->
				<div
					class="col-md-12 top_45 row">
					<!-- education -->
					<div class="resume-timeline col-md-4">
						<div class="rounded-icon">
							<i class="fa fa-graduation-cap"></i>
							<span>Education</span>
						</div>
						<div class="resume-out">
							<div class="resume-info">
								<h2 class="info-title">CBTIS No. 203</h2>
								<span class="info-date">1995 - 1998</span>
								<p>Electronic Technician</p>
							</div>
							<div class="resume-info">
								<h2 class="info-title">ISEU</h2>
								<span class="info-date">2000 - 2006</span>
								<p>Computer Systems Engineering</p>
							</div>
							<div class="resume-info">
								<h2 class="info-title">ISEU</h2>
								<span class="info-date">2009 - 2011</span>
								<p>Master in Computer Systems</p>
							</div>
						</div>
					</div>

					<!-- experience -->
					<div class="resume-timeline col-md-8">
						<div class="rounded-icon">
							<i class="fa fa-suitcase"></i>
							<span>Experience</span>
						</div>
						<div class="resume-out">
							<div class="resume-info">
								<h2 class="info-title">Web Master - Grupo HT</h2>
								<span class="info-date">2021 - to date</span>
								<p class"text-justify">
									<ul>
										<li>Web development</li>
										<li>Mobile app development</li>
										<li>Cloud administration and migration</li>
										<li>Server Management</li>
									</p>
								</p>
							</div>
							<div class="resume-info">
								<h2 class="info-title">Web Developer - T&C Group</h2>
								<span class="info-date">2015 - 2021</span>
								<p class"text-justify">
									<ul>
										<li>Development of Microsites and registration for events</li>
										<li>Development of Microsites for Michelin, Navistar and International</li>
										<li>Development of custom Webapps for events</li>
										<li>Development of hotel reservation systems for events</li>
										<li>Development of Webapps for the Corporate and UENS of T&C Group</li>
										<li>Administration and maintenance of the dedicated server</li>
									</ul>
								</p>
							</div>
							<div class="resume-info">
								<h2 class="info-title">Web Developer - Department of Continuing and Distance Education of the UAEMéx</h2>
								<span class="info-date">2008 - 2015</span>
								<p class"text-justify">
									<ul>
										<li>Development of the new version of the educational platform SEDUCA</li>
										<li>Support for the development of the Workflow system</li>
										<li>Development of systems for the DNMS</li>
										<li>Database administrator of the educational platform SEDUCA</li>
										<li>Support and maintenance of the SEDUCA educational platform server</li>
										<li>Development of the educational platform SEDUCA</li>
									</ul>
								</p>
							</div>
							<div class="resume-info">
								<h2 class="info-title">Professional practices - Department of Continuing and Distance Education of the UAEMéx</h2>
								<span class="info-date">2007 - 2008</span>
								<p class"text-justify">
									<ul>
										<li>Development of educational materials</li>
										<li>Development of systems for school control</li>
									</ul>
								</p>
							</div>
							<div class="resume-info">
								<h2 class="info-title">ISEU</h2>
								<span class="info-date">2005 - 2006</span>
								<p class"text-justify">
									<ul>
										<li>
											Teaching classes: C and C++ programming, Operating Systems, Databases, Web page design, Unix Environments and Free Software
										</li>
									</ul>
								</p>
							</div>
							<div class="resume-info">
								<h2 class="info-title">Open High School Directorate</h2>
								<span class="info-date">2005 - 2006</span>
								<p class"text-justify">
									<ul>
										<li>
											Computer equipment maintenance
										</li>
										<li>
											Development of the system for the automation of qualifications
										</li>
									</ul>
								</p>
							</div>
							<div class="resume-info">
								<h2 class="info-title">ARGIZ Computers</h2>
								<span class="info-date">2000 - 2001</span>
								<p class"text-justify">
									<ul>
										<li>
											Sale of computer equipment
										</li>
										<li>
											Computer equipment maintenance
										</li>
									</ul>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
