{% block opengp %}
<!-- HTML Meta Tags -->
<title>Edgar Rubi Urbina erufenix | {{ ocp }}</title>
<meta name="description" content="{{ lang == 'es' ? 'Edgar Rubi Urbina erufenix Desarrollador Web con experiencia en la creación, desarrollo y mantenimiento de sitios y aplicaciones web' : 'Edgar Rubi Urbina erufenix Web Developer with experience in the creation, development and maintenance of web sites and applications' }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path() }}/assets/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path() }}/assets/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ base_path() }}/assets/img/favicon-16x16.png">
<link rel="manifest" href="{{ base_path() }}/assets/img/site.webmanifest">
<link rel="mask-icon" href="{{ base_path() }}/assets/img/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ lang == 'es' ? full_url_for('cv_es') : full_url_for('cv_en')  }}">
<meta property="og:type" content="website">
<meta property="og:title" content="Edgar Rubi Urbina | {{ ocp }}">
<meta property="og:description" content="{{ lang == 'es' ? 'Edgar Rubi Urbina erufenix Desarrollador Web con experiencia en la creación, desarrollo y mantenimiento de sitios y aplicaciones web' : 'Edgar Rubi Urbina erufenix Web Developer with experience in the creation, development and maintenance of web sites and applications' }}">
<meta property="og:image" content="{{ lang == 'es' ? full_url_for('cv_es') ~ 'assets/img/erufenix_dev_op_600.png' : full_url_for('cv_es') ~ 'assets/img/erufenix_dev_op_600_en.png'  }}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="erufenix.dev">
<meta property="twitter:url" content="{{ lang == 'es' ? full_url_for('cv_es') : full_url_for('cv_en')  }}">
<meta name="twitter:title" content="Edgar Rubi Urbina | {{ ocp }}">
<meta name="twitter:description" content="{{ lang == 'es' ? 'Edgar Rubi Urbina erufenix Desarrollador Web con experiencia en la creación, desarrollo y mantenimiento de sitios y aplicaciones web' : 'Edgar Rubi Urbina erufenix Web Developer with experience in the creation, development and maintenance of web sites and applications' }}">
<meta name="twitter:image" content="{{ lang == 'es' ? full_url_for('cv_es') ~ 'assets/img/erufenix_dev_op_600.png' : full_url_for('cv_es') ~ 'assets/img/erufenix_dev_op_600_en.png'  }}">
<!-- Meta Tags Generated via https://www.opengraph.xyz -->
{% endblock %}
