@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");

body{
	font-family: 'Muli', sans-serif;
}

.headerdark {
   background: #151515;
   border: solid 1px #2f2f2f;
   box-shadow: none;
}

.left-title h1 {
   font-size: 1.3rem;
}

.small-75{
   font-size: 75%;
}

.giggs-list li span:first-child {
   color: #000;
   font-weight: bold;
}


.giggs-list li span:last-child {
   color: #999999;
}


p,.giggs-list  {
   font-size: 0.9rem;
}

.pt-6, .py-6 {
   padding-top: 6rem !important;
}

.mb-30r{
   margin-bottom: 3rem;
}

.feature svg{
   color: #ff423a;
}

.nav-fixed .logo {
   color: #fff;
}

.info-title {
   font-weight: 600;
}

.shead{
   transition: all ease 0.3s;
   background: #fff;
   border: 0;
   box-shadow: -5px 10px 12px -10px rgba(201,201,201,0.67);
}

.shead .logo{
   color:#000;
}

